<h2><%= @merchant.name %></h2>
<nav>
	<%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
	<%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
</nav>
<section id="favoriteCustomers">
	<h3>Favorite Customers</h3>
	<ol>
		<% @top_5_customers.each do |customer| %>
			<li><%= customer.full_name %> - <%= customer.num_trans %> purchases</li>
		<% end %>
	</ol>
</section>

<section>
	<h3>Items to be Shipped:</h3>
	<% @items_to_be_shipped.each do |item| %>
		<p><%= item.name %> - Invoice: #<%= item.invoice_id %> - <%= item.invoice_date %></p>
	<% end %>
</section>